body {
    background: none;
    font-family: arial;
}
h1, h2 {
    color: #777;
}
a {
    color: red;
}
nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
}
nav ul li{
    background: black;
    color : white;

}
p {
    background: #777;
    color: #333;
    padding: 8px;
}
.secondary {
    background: none;
    color: #555;
}
#spam {
    background: none;
    color: #000;
}